# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
static/staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node (if any)
node_modules/
.next/
